# Admin username and password credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=mandhi1234

# Cryptographic secret key for signing JWT session tokens
JWT_SECRET=super_secret_key_change_me_in_production
